# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
# .terraform-provider-ec2-instance-type for your specific project's binary name if different
# For example, if your provider's binary is terraform-provider-ec2-instance-type,
# you'd add this line to ignore the compiled binary itself.
# terraform-provider-ec2-instance-type

# Test binaries
*_test
*.test

# Output of `go build`
*.out

# Dependency directories
vendor/

# Go module cache (local only)
.go* 
!.goreleaser.yml
.modcache*

# Editor/IDE specific files
.idea*
.vscode*
*.iml*
.project*
.classpath*
.settings*
*.sublime-project*
*.sublime-workspace*
.DS_Store*
Thumbs.db*

# Terraform specific files
.terraform*
*.tfplan*
.terraform.lock.hcl
crash.log
override.tf
override_*.tf
*.tfstate*
*.tfstate.*
.temp
terraform-provider-ec2-instance-type